# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - new-webapp-interface

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: webappinterfacecontainerregistry-fme3euh9asc6fvgz.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_93C57B3334E744778D4994F8F5E81B07 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_A7B6A4D2CE694B0AB99105A890F7F650 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: webappinterfacecontainerregistry-fme3euh9asc6fvgz.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_93C57B3334E744778D4994F8F5E81B07 }}/testing123:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'new-webapp-interface'
          slot-name: 'testing-interface'
          images: 'webappinterfacecontainerregistry-fme3euh9asc6fvgz.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_93C57B3334E744778D4994F8F5E81B07 }}/testing123:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_0B358AE619DB45C5821F8ACABE39464E }}